/*-----------------colors*/

.icon-color{
    color: darkorange
}
.text-bg-color{
    background-color: rgba(30, 30, 30, 0.7)
}

h2{
    color: darkorange;
}

h4{
    color: #f2f2f2;
}

p{
    color: #f2f2f2;
}
.navbar-toggler{
    border-color: darkorange;

}
.form-label{
    color: #f2f2f2;
}

/*-----------------Header*/
header{
    background-color: #1e1e1e;
}
.navbar-nav {
    display: inline;
}
.nav-logo{
    height: 50px;
    width: 70px;
}

body {
    background: url('../images/blackwhite.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*-----------------landing-page*/
.big-logo {
    padding-bottom: 100px;
    max-width: 800px;
    height: auto;
    width:80vw;
}
.logo-box {
    text-align: center;
}

/*-----------------Footer*/
footer {
    background-color: #1e1e1e;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center
}
.social-media{
margin: 0;
}

.social-media li{
padding: 10px 10px;
}

.social-media li a i{
    font-size: 30px;
}

/*-----------------About*/

.band-member-img{
    width: 90%;
    padding: 20px 20px 20px 20px;
}

.band-member-box{
    text-align: center;
    padding-top: 20px;
}

.about-band{
    text-align: center;
}

.about-all-band{
    float: center;
    text-align: center;
 }
/*-----------------media*/


.spotify {
    max-height: 350px;
    margin-top: 50px;
}
